@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/logo.png" alt="Logo de la empresa" style="height:100px; margin-bottom:20px;" />

    <h1 class="display-4">Crea tu futuro, nosotros lo protegemos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
